@charset "UTF-8";
/* CSS Document */
#photogs {
    display:none;
    margin-top:0;
    margin-left:auto;
    margin-right:auto;
    border-top:1px solid #ffffff;
    border-bottom:1px solid #ffffff;
}
.portfolio {
        opacity:.8;
	padding:0;
	vertical-align:bottom;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:50px;
        width:100px;
	background-repeat:no-repeat;
        height:500px;
        background-position:center;
}
.portfoliosel {
	padding:0;
        opacity:1;
	vertical-align:bottom;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:50px;
        width:500px;
	background-repeat:no-repeat;
        height:450px;
        text-align:center;
        vertical-align:top;
}
#chrish {
	background-image:url(../images/chrish.jpg);
}
#chrisp {
	background-image:url(../images/chrisp.jpg);
        margin-left:auto;
}
#ericg {
	background-image:url(../images/ericg.jpg);
}
#justinm {
	background-image:url(../images/justinm.jpg);
        margin-right:auto;
}
#zach {
	background-image:url(../images/zach.jpg);
}
#HUD {
    width:900px;
    background-color:black;
    margin-left:auto;
    margin-right:auto;
    border-top:1px solid #ffffff;
}
#galleria {
    width:900px;
    height:460px;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    border-bottom: 1px solid white;
}
.hudsub {
    height:40px;
    width:180px;
    padding:0;
    margin:0;
    border-right:1px solid #333333;
    border-bottom:1px solid #333333;
}
.hudbut:hover {
    color:white;
}
#ericghud {
    border-left:1px solid #333333;
}
.hudbut {
    width:180px;
    height:40px;
    background-color:black;
    font-family: 'Molengo', arial, serif;
    color:#333333;
    text-align:center;
    font-size:15px;
    border:none;
}
#clickport {
     background-color:black;
    font-family: 'Molengo', arial, serif;
    color:white;
    width:400px;
    font-size:20px;
    border:solid white 1px;
    text-align:center;
    padding-top:20px;
    padding-bottom:20px;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    opacity:.7;
    display:none;
    border-radius:50px;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
}