@charset "UTF-8";
/* CSS Document */
	
body {
		background:#000;
	}
table#Main {
		border-top:solid white 3px;
		width:900px;
		height:70px;
		margin-left:auto;
		margin-right:auto;
		margin-top:30px;
		margin-bottom:0;
		}
#home:hover {
        border-left:1px red solid;
}
	
.Menulink {
		font-size:15px;
		width:150px;
		height:60px;
		text-align:left;
		margin-left:5px;
		font-family: 'Molengo', arial, serif;
		color:#FFF;
		border:none;
                border-left:1px black solid;
                background-color:#000;
		}
.Menulinkhover {
            width:150px;
            height:60px;
            text-align:left;
            margin-left:5px;
            font-family: 'Molengo', arial, serif;
            color:#FFF;
            border:none;
            border-left:1px red solid;
            background-color:#333333;
            font-size:15px;

	}

#txtmain {
	height:500px;
	width:900px;
	background:none;
	vertical-align:top;
	margin-left:auto;
	margin-right:auto;
	margin-top:0;
        color:white;
        border-bottom: solid 1px #ffffff;
        border-top: solid 1px #ffffff;
	}
#quote {
	background-image:url(../images/quote.gif);
        font-size:20px;
	background-repeat:repeat-x;
	background-position:left top;
	background-color:#000;
	border:outset 1px white;
	color:white;
	height:50px;
	width:180px;
	margin-left:90px;
}
#quote:hover {
	background-image:url(../images/hquote.gif);
	background-repeat:repeat-x;
	background-position:left top;
	color:black;
        background-color:#909090;
}
.textfront {
        margin-top:0px;
	width:300px;
	margin-left:30px;
        font-weight:100;
        font-family: 'Molengo', arial, serif;
}
#packages {
    	color:#FFF;
	width:900px;
        height:500px;
	margin-left:auto;
	margin-right:auto;
        border-bottom: solid 1px #ffffff;
        border-top:1px solid #ffffff;
}
#contact {
    	color:#FFF;
	width:900px;
        height:500px;
	margin-left:auto;
	margin-right:auto;
        border-bottom: solid 1px #ffffff;
        border-top:1px solid #ffffff;
}
h1.pagetitle {
	font-family:Arial, Helvetica, sans-serif;
	font-size:120px;
	letter-spacing:-12px;
	margin-top:2px;
	margin-bottom:0;
	}
h2.subtitle {
        font-family: 'Molengo', arial, serif;
	margin-left:0px;
	margin-top:-25px;
	color:#666;
	font-weight:100;
	font-size:36px;
}
h2.promo {
    font-family:Arial, Helvetica, sans-serif;
	font-size:30px;
	letter-spacing:-1px;
	margin-top:4px;
	margin-bottom:8px;
        margin-left:15px;
        font-weight:200;
		display:none;
}
h2.righttitle {
	font-family:Arial, Helvetica, sans-serif;
	margin-top:-150px;
	margin-right:20px;
	font-weight:100;
	font-size:40px;
	text-align:right;
}
.top {
	margin-top:0;
	margin-bottom:120px;
}
.current {
        font-size:15px;
        width:150px;
	height:60px;
	text-align:left;
	margin-left:5px;
	font-family: 'Molengo', arial, serif;
        color:#999999;
	border:none;
        border-left:1px red solid;
        background-color:#333333;
}
#notifyback {
    position:fixed;
    background-color:black;
    height:100%;
    width:100%;
    opacity:.4;
    display:none;
    z-index:1;
}
#notify {
	position:fixed;
    height:450px;
    width:400px;
    background-color:black;
    top:50px;
	z-index:1;
	display:none;
    left: 50%;
    margin-left: -200px;
    border:1px outset white;
    text-align:center;
}

input {
    width:250px;
    margin-left:10px;
    padding:10px;
    background-color:#B3B4BD;
    border:none;
    font-size:12px;
    margin-top:0;
    margin-bottom:0;
}
label {
     font-family:"Arial Black", Gadget, sans-serif;
     color:white;
     padding:10px;
     margin-left:20px;
     width:150px;
     height:20px
}
textarea {
    width:250px;
    height:100px;
    margin-left:10px;
    padding:10px;
    background-color:#B3B4BD;
    border:none;
}
#get {
     font-family:"Arial Black", Gadget, sans-serif;
     color:white;
     font-size:40px;
     text-align:center;
     margin-top:10px;
     margin-bottom:5px;
     padding:0;
}
.notifybutton {
    border:none;
    width:198px;
    background-color:black;
    font-family:"Arial Black", Gadget, sans-serif;
     color:white;
     margin-top:10px;
     height:40px;
     font-size:20px;
}
.notifybutton:hover {
    background-color:#333333;
}
#close {
    border-right:1px solid white;
}
#success {
	display:none;
    position:fixed;
    height:50px;
    width:400px;
    background-color:black;
    z-index:2;
    vertical-align:middle;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -200px;
    border:1px outset white;
}
#successtext {  
    vertical-align:middle;
    text-align:center;
    color:white;
    font-family:"Arial Black", Gadget, sans-serif;
    font-size:30px;
    margin-top:5px;
}
a {
    text-decoration:none;
    color:white;
}
a:hover {
    text-decoration:underline;
    color:white;
}
#services {
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    width:900px;
    height:350px;
    text-align:center;
    background-color:black;
    opacity:.85;
}
.services {
    vertical-align:middle;
    border-bottom:1px solid white;
}
.servicest {
    vertical-align:middle;
    border-bottom:1px solid white;
    text-align:left;
}
.packtitle {
        font-family: 'Molengo', arial, serif;
        font-size:30px;
        margin-top:-10px;
        margin:0;
}
.packdescription {
        font-family: 'Molengo', arial, serif;
                font-style:oblique;
                font-size:20px;
                margin-top:5px;
                margin-bottom:0;
}